---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import Modal from "@components/Modal.astro";

class DiscClass {
	imgSrc: string;
	year: string;
	title: string;
	audioSrc: string;
	color: string;
	useColor: boolean = false;

	constructor( imgSrc:string, year:string, title:string, audioSrc: string, color: string) {
		this.imgSrc = imgSrc;
		this.year = year;
		this.title = title;
		this.audioSrc = audioSrc;
		this.color = color;
	}
}

const discs: Array<DiscClass> = [
	new DiscClass('img/HARLEY.png', 'Harley-Davidson', "??", "sounds/farts-yubero/alpaca-scream-strong.mp3", "#FF6600"),
	//new DiscClass("img/aline_1_vinilo.jpg", "Honda", "??", "sounds/farts-yubero/Corujo_PEDO_1.mp3", "#DA251D"),
	new DiscClass("img/DUCATI.png", "Ducati", "??", "sounds/farts-yubero/Corujo_PEDO_2.mp3", "#004C91"),
	// new DiscClass("img/alberto_1_vinilo.jpg", "KTM", "??", "sounds/sonido-2.mp3"),
	// new DiscClass("img/aline_1_vinilo.jpg", "BMW Motorrad", "??", "sounds/sonido-3.mp3"),
	//new DiscClass("img/alberto_1_vinilo.jpg", "Kawasaki", "??", "sounds/farts-yubero/Carol_PEDOS_1.mp3", "#4CBB17"),
	new DiscClass("img/HONDA.png", "Honda", "??", "sounds/farts-yubero/Carol_PEDOS_2.mp3", "#0033A0"),
	new DiscClass("img/KAWASAKI.png", "Kawasaki", "??", "sounds/farts-yubero/Javi_PedoemianRapsody.mp3", "#D21E25"),
	new DiscClass("img/SUZUKI.png", "Suzuki", "??", "sounds/farts-yubero/Lluis.mp3", "#0E2A43"),
	new DiscClass("img/YAMAHA.png", "Yamaha", "??", "sounds/farts-yubero/Lluis.mp3", "#0E2A43"),
]
---

<Layout>
	<h1 class="w-100 text-center my-3" style="height: 10rem;">
		<img src="img/Yupedo_logo.png" alt="Feliz día" class="h-full w-full m-auto object-contain"/>
	</h1>

	<div class="flex flex-wrap gap-2 justify-center">
		{
			discs.map( (disc, index) => (
				<Card	discImgSrc={disc.imgSrc} 
						discYear={disc.year} 
						discTitle={disc.title} 
						discIndex={index}
						discColor={disc.color}
						discUseColor={disc.useColor}
						discAudioSrc={disc.audioSrc}>
				</Card>
			))
		}
	</div>

	<div class="hidden text-sm text-gray-400">
		<ul>
			<li>Music from #Uppbeat (free for Creators!):</li>
			<li>https://uppbeat.io/t/pryces/music-is</li>
			<li>License code: YY1BSGYEXEYZSFXS</li>
		</ul>
	</div>

</Layout>