---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import Modal from "@components/Modal.astro";

class DiscClass {
	imgSrc: string;
	year: string;
	title: string;
	audioSrc: string;

	constructor( imgSrc:string, year:string, title:string, audioSrc: string) {
		this.imgSrc = imgSrc;
		this.year = year;
		this.title = title;
		this.audioSrc = audioSrc;
	}
}

const discs: Array<DiscClass> = [
	new DiscClass('img/lluis_1_vinilo.jpg', 'Disco 0', "??", "sounds/farts-yubero/alpaca-scream-strong.mp3"),
	new DiscClass("img/aline_1_vinilo.jpg", "Disco 1", "??", "sounds/farts-yubero/Corujo_PEDO_1.mp3"),
	new DiscClass("img/javi_1_vinilo.jpg", "Disco 2", "??", "sounds/farts-yubero/Corujo_PEDO_2.mp3"),
	// new DiscClass("img/alberto_1_vinilo.jpg", "Disco 2", "??", "sounds/sonido-2.mp3"),
	// new DiscClass("img/aline_1_vinilo.jpg", "Disco 3", "??", "sounds/sonido-3.mp3"),
	new DiscClass("img/alberto_1_vinilo.jpg", "Disco 3", "??", "sounds/farts-yubero/Carol_PEDOS_1.mp3"),
	new DiscClass("img/albert_1_vinilo.jpg", "Disco 4", "??", "sounds/farts-yubero/Carol_PEDOS_2.mp3"),
	new DiscClass("img/lluis_1_vinilo.jpg", "Disco 5", "??", "sounds/farts-yubero/Javi_PedoemianRapsody.mp3"),
	new DiscClass("img/alberto_1_vinilo.jpg", "Disco 6", "??", "sounds/farts-yubero/Lluis.mp3"),
]
---

<Layout>
	<h1 class="w-100 text-center my-3" style="height: 10rem;">
		<img src="img/Yupedo_logo.png" alt="Feliz día" class="h-full w-full m-auto object-contain"/>
	</h1>

	<div class="flex flex-wrap gap-2 justify-center">
		{
			discs.map( (disc, index) => (
				<Card	discImgSrc={disc.imgSrc} 
						discYear={disc.year} 
						discTitle={disc.title} 
						discIndex={index}
						discAudioSrc={disc.audioSrc}>
				</Card>
			))
		}
	</div>

	<div class="hidden text-sm text-gray-400">
		<ul>
			<li>Music from #Uppbeat (free for Creators!):</li>
			<li>https://uppbeat.io/t/pryces/music-is</li>
			<li>License code: YY1BSGYEXEYZSFXS</li>
		</ul>
	</div>

</Layout>