---
import { Props } from "astro";
import AudioPlayer from "./AudioPlayer.astro";
import Disc from "./Disc.astro";

const {discImgSrc, discYear, discTitle, discAudioSrc, discIndex, discColor, discUseColor} = Astro.props as Props;

---

<div data-state="paused" class="container-card-player bg-white rounded-lg overflow-hidden hover:shadow-lg border border-gray-200 transition max-w-max">
    <div class="px-3 px-md-6 py-2 py-md-4">
        <Disc image={discImgSrc} color={discColor} useColor={discUseColor} />
        <p class="text-gray-700 text-base text-sm" contenteditable="true">{discYear}</p>
        <h3 class="text-base font-bold" contenteditable="true">{discTitle}</h3>

        <AudioPlayer audioSrc={discAudioSrc} discIndex={discIndex}></AudioPlayer> 

    </div>
</div>

<script>
    const cardPlayer = document.querySelectorAll('.container-card-player');

    cardPlayer.forEach(el => {
        
        const playPauseBtn = el.querySelector('.play-pause-btn');
        const playPauseDisc = el.querySelector('div.disc');
        const audio = el.querySelector('.audio');
        const progressBar = el.querySelector('.progress-bar');
        const disc = el.querySelector('.disc');

        const onClickPlay = () => {


            if(!playPauseBtn || !audio || !disc) return;
            
            let isPlaying = playPauseBtn.dataset.isPlaying

            if (isPlaying == 1) {
                audio.pause();
                playPauseBtn.dataset.isPlaying = 0;

                playPauseBtn.classList.remove('playing');
                disc.classList.add('disc-pause');

                el.dataset.state = "paused";
            } else {
                audio.play();
                playPauseBtn.dataset.isPlaying = 1;

                playPauseBtn.classList.add('playing');
                disc.classList.remove('disc-pause');

                el.dataset.state = "playing";
            }
        };

        playPauseBtn.addEventListener('click', onClickPlay);
        playPauseDisc.addEventListener('click', onClickPlay)
        
        audio.addEventListener('timeupdate', () => {
            const progress = (audio.currentTime / audio.duration) * 80;
            progressBar.style.width = `calc(${progress}% - 2px)`;
        });
    });

</script>
